html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-bg-color: rgba(10, 8, 8, 0.639);
}


@font-face {
  font-family: "logoFont";
  src: url("myFonts/norse-bold-webfont.woff") format("woff"), url("myFonts/norse-bold-webfont.woff2") format("woff2");
  /* font-weight: normal;
  font-style: normal; */
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  margin: 0;
}


html,
body,
#page {
  float: left;
  background-color: var(--main-bg-color);
}

#page>#left-bar {
  height: 900px;
  width: 35%;
  /* background-color: red; */
  position: relative;
  float:left;
  padding: 0;
  margin: 0;
  overflow: hidden;

}


#page>#left-bar>#left-content {
  height: 900px;
  width: 35%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
   background-color:aqua; 
  background-image: url(ben2.jpg);
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  overflow: clip;
}

#logo {

  background-color: rgba(118, 211, 226, 0.5);
  position: absolute;
  top: 0; 
  left: 0;
  
  width: 100%;
  height: 8%;
  display: flex;
  justify-content:center;
  gap: 10px;
  align-items: center;
}

#image-logo{
  width: 2.5rem;
  opacity: 0.5;

}

 
#font-logo{
  font-family: "logoFont", monospace;
  font-size: 2rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 20px;
} 

.add_credit{
  display: block;
  position: absolute;
  text-align: center;
  padding: 4px;
  color:black;
  background-color:rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 1rem;
  bottom: 0;
  left: 0;
}








#rightSide {
  width: 65%; 
  float: left;
  
}

#right-content{
  clear: both;
  padding: 6rem 11rem 0 3rem;
  color: white;
  
}


.justFlex {
  display: flex;

}

#myform {
  padding-top: 2rem;
  padding-bottom: 20px;
  display: block;

}

h1 {
  font-size: 1.3rem;
  font-weight: 60;
  line-height: 1.5;

}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.5rem 0 4rem 0;

}

span {
  font-style: italic;
}



.justFlex {
  padding-top: 2rem;
  font-family: 'Times New Roman', Times, serif;
  gap: 40px;

}


.formInfo {
  padding: 15px;
  font-weight: 500;
}

.formInfo input {
  margin-top: 12px;
  width: 90%;
}

hr {
  display: block;
  margin-top: 3rem;
  border-style: solid;
  width: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
}

#button {
  background-color: green;
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 8px 12px;
  margin-top: 1.5rem;
  border-radius: 8px;
}

.message {

  font-weight: 400;
  font-size: 1.2rem;
  
}

.warning {
  font-size: 0.9rem;
  color: red;
  padding: 4px 4px 4px 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a {
  color: rgb(65, 150, 122);
  font-weight: bolder;
}

input:focus {
  border: blue solid 3px;
  box-shadow: 5px 7px #939498c9;
}